.gameplay-section {
  background: #9cc7d0;
}

.gameplay-bg-wrapper {
  padding-top: 40px;
  padding-bottom: 56px;

  @include media(desktop) {
    padding-top: 48px;
    padding-bottom: 64px;
  }
}

.gameplay-container {
}

.gameplay-title-wrapper {
  @include media(desktop) {
  }
}

.gameplay-title {
  @include media(desktop) {
  }
}

.gameplay-text {
  font-family: 'Oxanium', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #1c1c1b;
  margin-bottom: 32px;

  @include media(desktop) {
    font-size: 16px;
    max-width: 1017px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  }
}

.gameplay-content-wrapper {
  @include media(desktop) {
  }
}

.gameplay-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;

  @include media(desktop) {
    flex-wrap: nowrap;
    gap: 24px;
  }
}

.gameplay-list-item {
  background: #d9e9eb;
  border-radius: 4px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 100%;
  max-width: 164px;

  @include media(desktop) {
    padding: 24px 40px;
    max-width: 260px;
  }
}

.gameplay-icon {
  @include media(desktop) {
  }
}

.gameplay-item-text {
  font-family: 'Oxanium', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #1c1c1b;

  @include media(desktop) {
    font-size: 16px;
  }
}
