.hero-section {
  @include media(desktop) {
  }
}

.hero-bg-wrapper {
  padding-top: 92px;
  padding-bottom: 152px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/hero/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto;

  @include media(desktop) {
    padding-top: 144px;
    padding-bottom: 112px;
    max-width: 1440px;
    background-image: url(../img/hero/hero-bg-desk.jpg);
  }
}

.hero-container {
  @include media(desktop) {
  }
}

.hero-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media(desktop) {
    align-items: start;
    max-width: max-content;
    margin-left: auto;
  }
}

.hero-text-wrapper {
  @include media(desktop) {
    margin-left: 24px;
  }
}

.hero-title-img {
  margin-bottom: 276px;

  @include media(desktop) {
    margin-bottom: 40px;
  }
}

.hero-subtitle {
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #131611;
  margin-bottom: 16px;

  @include media(desktop) {
    font-size: 24px;
    text-align: left;
    margin-bottom: 16px;
  }
}

.hero-text {
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #131611;
  margin-bottom: 32px;

  @include media(desktop) {
    font-size: 16px;
    text-align: left;
    max-width: 465px;
    margin-bottom: 40px;
  }
}

.hero-btn {
  box-shadow: 2px 2px 1px 0 rgba(41, 64, 20, 0.4);
  background: linear-gradient(180deg, #5b742e 0%, #294014 100%);
  border: 1px solid rgba(49, 48, 45, 0.4);
  border-radius: 8px;
  padding: 12px 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: max-content;
  margin-left: auto;
  margin-right: auto;
  transition: background 0.3s ease-in-out;

  &:hover,
  &:focus,
  &:active {
    background: #294014;
  }

  @include media(desktop) {
    margin: 0;
  }
}
