<section class="section about-section" id="about">
  <div class="section-title-wrapper about-title-wrapper">
    <div class="container section-title-container">
      <h2 class="section-title about-title">ABOUT THE GAME</h2>
    </div>
  </div>
  <div class="about-bg-wrapper">
    <div class="container about-container">
      <div class="about-content-wrapper">
        <p class="about-text">
          So Golden Field is basically a match-3 game with really bright fruit
          puzzles. I don't know why, but they just don't get boring.<br />
          You’ll easily get rewarded for your progress, unlocking new levels and
          features as you advance. Each level you beat opens up new areas with
          different puzzle setups.
        </p>
        <img
          class="about-img"
          src="./img/about/about-img-mob.png"
          alt="Screenshot of the game"
          width="250"
          height="250"
          loading="lazy"
        />
        <p class="about-text">
          What I love is there's no stupid countdown timers stressing you out,
          so you can just zone out and match some fruit. Whether you play for a
          few minutes or dive into a long session, the experience stays engaging
          and satisfying.<br />
          Starts off pretty chill, but man, some of these later levels will
          really make you think.
        </p>
      </div>
    </div>
  </div>
</section>
