<section class="section boosters-section" id="boosters">
  <div class="section-title-wrapper boosters-title-wrapper">
    <div class="container section-title-container">
      <h2 class="section-title boosters-title">BOOSTERS & REWARDS</h2>
    </div>
  </div>
  <div class="boosters-bg-wrapper">
    <div class="container boosters-container">
      <p class="section-subtitle boosters-subtitle">Smart Power-Ups</p>
      <p class="boosters-text">
        Rewards are easy to earn and motivate continued progress.<br />
        The boosters actually help when you're totally stuck. Use them wisely
        to:
      </p>
      <div class="boosters-content-wrapper">
        <ul class="boosters-list">
          <li class="boosters-list-item">
            <img
              class="boosters-img"
              src="./img/boosters/boosters-img1-mob.png"
              alt="Screenshot of the game"
              width="120"
              height="120"
            />
            <p class="boosters-item-text">Break stubborn fruit clusters</p>
          </li>
          <li class="boosters-list-item">
            <img
              class="boosters-img"
              src="./img/boosters/boosters-img2-mob.png"
              alt="Screenshot of the game"
              width="120"
              height="120"
            />
            <p class="boosters-item-text">Trigger chain reactions</p>
          </li>
          <li class="boosters-list-item">
            <img
              class="boosters-img"
              src="./img/boosters/boosters-img3-mob.png"
              alt="Screenshot of the game"
              width="120"
              height="120"
            />
            <p class="boosters-item-text">Clear large sections of the board</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
