<section class="section contact-section" id="contact">
  <div class="section-title-wrapper contact-title-wrapper">
    <div class="container section-title-container">
      <h2 class="section-title contact-title">CONTACT</h2>
    </div>
  </div>
  <div class="contact-bg-wrapper">
    <div class="container contact-container">
      <div class="contact-content-wrapper">
        <p class="section-subtitle contact-subtitle">Get in Touch</p>
        <p class="contact-text">
          Have feedback or questions?<br />
          Shoot us a message if you've got feedback - we do actually check our
          email, promise!
        </p>
        <a href="mailto:info@goldenframe.pro" class="contact-email-link">
          <svg class="email-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-email"></use></svg
          ><span>info@goldenframe.pro</span></a
        >
      </div>
    </div>
  </div>
</section>
