<section class="section cta-section" id="cta">
  <div class="section-title-wrapper cta-title-wrapper">
    <div class="container section-title-container">
      <h2 class="section-title cta-title">PLAY NOW</h2>
    </div>
  </div>
  <div class="cta-bg-wrapper">
    <div class="container cta-container">
      <div class="cta-content-wrapper">
        <div class="cta-text-wrapper">
          <p class="cta-text">
            Fair warning: this thing will eat your free time.<br />
            Don't blame me when you're still playing at midnight. Solve the
            puzzles. Unlock rewards. Discover new worlds.<br />
            Download Golden Field: Match 3 Puzzle today.
          </p>
          <a
            class="hero-btn cta-btn"
            target="_blank"
            href="https://play.google.com/store/apps/details?id=com.UnicornGameStudio.GoldenFarmMatch3Puzzle&hl=en&gl=us"
            rel="noopener noreferrer"
            aria-label="Download on Google Play"
            ><svg class="playstore-icon" width="188" height="40">
              <use href="./img/sprite.svg#icon-playstore"></use></svg
          ></a>
        </div>
        <div class="cta-top-img-wrapper">
          <picture>
            <source
              srcset="./img/cta/cta-img1-mob.png"
              media="(min-width: 1440px)"
              width="200"
              height="234" />
            <source
              srcset="./img/cta/cta-img1-mob.png"
              width="162"
              height="190" />
            <img
              class="cta-img1"
              src="./img/cta/cta-img1-mob.png"
              alt="Screenshot of the game"
              width="162"
              height="190"
          /></picture>
        </div>
        <div class="cta-bottom-img-wrapper">
          <picture>
            <source
              srcset="./img/cta/cta-img2-mob.png"
              media="(min-width: 1440px)"
              width="200"
              height="232" />
            <source
              srcset="./img/cta/cta-img2-mob.png"
              width="162"
              height="188" />
            <img
              class="cta-img2"
              src="./img/cta/cta-img2-mob.png"
              alt="Screenshot of the game"
              width="162"
              height="188"
          /></picture>
        </div>
      </div>
    </div>
  </div>
</section>
