<section class="section features-section" id="features">
  <div class="section-title-wrapper features-title-wrapper">
    <div class="container section-title-container">
      <h2 class="section-title features-title">GAME FEATURES</h2>
    </div>
  </div>
  <div class="features-bg-wrapper">
    <div class="container features-container">
      <p class="section-subtitle features-subtitle">
        Why Players Love Golden Field
      </p>
      <div class="features-content-wrapper">
        <ul class="features-list">
          <li class="features-list-item">
            <picture>
              <source
                srcset="./img/features/features-img1-desk.png"
                media="(min-width: 1440px)"
                width="120"
                height="120" />
              <source
                srcset="./img/features/features-img1-mob.png"
                width="72"
                height="72" />
              <img
                class="features-img"
                src="./img/features/features-img1-mob.png"
                alt="Screenshot of the game"
                width="72"
                height="72"
            /></picture>
            <h3 class="features-item-title">
              Delicious<br />
              match 3 gameplay
            </h3>
            <p class="features-item-text">
              Classic match-3 but with way more personality and color.
            </p>
          </li>
          <li class="features-list-item">
            <picture>
              <source
                srcset="./img/features/features-img2-desk.png"
                media="(min-width: 1440px)"
                width="120"
                height="120" />
              <source
                srcset="./img/features/features-img2-mob.png"
                width="72"
                height="72" />
              <img
                class="features-img"
                src="./img/features/features-img2-mob.png"
                alt="Screenshot of the game"
                width="72"
                height="72"
            /></picture>
            <h3 class="features-item-title">
              Over<br />
              1000 Levels
            </h3>
            <p class="features-item-text">
              500 Levels at Season One, with more challenges waiting ahead.
            </p>
          </li>
          <li class="features-list-item">
            <picture>
              <source
                srcset="./img/features/features-img3-desk.png"
                media="(min-width: 1440px)"
                width="120"
                height="120" />
              <source
                srcset="./img/features/features-img3-mob.png"
                width="72"
                height="72" />
              <img
                class="features-img"
                src="./img/features/features-img3-mob.png"
                alt="Screenshot of the game"
                width="72"
                height="72"
            /></picture>
            <h3 class="features-item-title">
              Different<br />
              Ways to Play
            </h3>
            <p class="features-item-text">
              Explore different objectives and board variations that keep
              gameplay fresh.
            </p>
          </li>
          <li class="features-list-item">
            <picture>
              <source
                srcset="./img/features/features-img4-desk.png"
                media="(min-width: 1440px)"
                width="120"
                height="120" />
              <source
                srcset="./img/features/features-img4-mob.png"
                width="72"
                height="72" />
              <img
                class="features-img"
                src="./img/features/features-img4-mob.png"
                alt="Screenshot of the game"
                width="72"
                height="72"
            /></picture>
            <h3 class="features-item-title">
              Powerful<br />
              Boosters
            </h3>
            <p class="features-item-text">
              Use special boosters to advance your level and overcome tricky
              puzzles.
            </p>
          </li>
          <li class="features-list-item">
            <picture>
              <source
                srcset="./img/features/features-img5-desk.png"
                media="(min-width: 1440px)"
                width="120"
                height="120" />
              <source
                srcset="./img/features/features-img5-mob.png"
                width="72"
                height="72" />
              <img
                class="features-img"
                src="./img/features/features-img5-mob.png"
                alt="Screenshot of the game"
                width="72"
                height="72"
            /></picture>
            <h3 class="features-item-title">
              Easy to<br />
              Get Rewarded
            </h3>
            <p class="features-item-text">
              Progress is rewarding and consistent as you unlock new features.
            </p>
          </li>
          <li class="features-list-item">
            <picture>
              <source
                srcset="./img/features/features-img6-desk.png"
                media="(min-width: 1440px)"
                width="120"
                height="120" />
              <source
                srcset="./img/features/features-img6-mob.png"
                width="72"
                height="72" />
              <img
                class="features-img"
                src="./img/features/features-img6-mob.png"
                alt="Screenshot of the game"
                width="72"
                height="72"
            /></picture>
            <h3 class="features-item-title">
              Super<br />
              Relaxing
            </h3>
            <p class="features-item-text">
              Everything's so zen-looking, and omg the little match animations
              are chef's kiss.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
