<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <div class="hero-content-wrapper">
        <picture>
          <source
            srcset="./img/hero/hero-title-desk.png"
            media="(min-width: 1440px)"
            width="588"
            height="143" />
          <source
            srcset="./img/hero/hero-title-mob.png"
            width="343"
            height="83" />
          <img
            class="hero-title-img"
            src="./img/hero/hero-title-mob.png"
            alt="Screenshot of the game"
            width="343"
            height="83"
        /></picture>
        <div class="hero-text-wrapper">
          <p class="hero-subtitle">Match 3 Puzzle</p>
          <p class="hero-text">
            Okay, so this fruit matching game?<br />
            Yeah, it's pretty addictive. Don't say we didn't warn you! If you're
            into fruit-themed puzzles, Golden Field has this really addictive
            match-3 thing going on that I can't put down. The different game
            modes and boosters will definitely keep you hooked - I've lost track
            of time playing this more than once.<br />
            Seriously, you're gonna love this fruity adventure.
          </p>
          <a
            class="hero-btn"
            target="_blank"
            href="https://play.google.com/store/apps/details?id=com.UnicornGameStudio.GoldenFarmMatch3Puzzle&hl=en&gl=us"
            rel="noopener noreferrer"
            aria-label="Download on Google Play"
            ><svg class="playstore-icon" width="188" height="40">
              <use href="./img/sprite.svg#icon-playstore"></use></svg
          ></a>
        </div>
      </div>
    </div>
  </div>
</section>
