<section class="section modes-section" id="modes">
  <div class="section-title-wrapper modes-title-wrapper">
    <div class="container section-title-container">
      <h2 class="section-title modes-title">GAME MODES</h2>
    </div>
  </div>
  <div class="modes-bg-wrapper">
    <div class="container modes-container">
      <p class="section-subtitle modes-subtitle">Remarkable and Varied</p>
      <div class="modes-content-wrapper">
        <img
          class="modes-img"
          src="./img/modes/modes-img1-mob.png"
          alt="Screenshot of the game"
          width="240"
          height="240"
          loading="lazy"
        />
        <p class="modes-text">
          There are several different ways to play, each one testing different
          skills and keeping things interesting. Some levels require careful
          planning. Others test your speed and pattern recognition. Each mode
          introduces new mechanics that keep you engaged.<br />
          With all the different modes, you won't get bored doing the same thing
          over and over.
        </p>
        <img
          class="modes-img"
          src="./img/modes/modes-img2-mob.png"
          alt="Screenshot of the game"
          width="240"
          height="240"
          loading="lazy"
        />
      </div>
    </div>
  </div>
</section>
