<section class="section progression-section" id="progression">
  <div class="section-title-wrapper progression-title-wrapper">
    <div class="container section-title-container">
      <h2 class="section-title progression-title">LEVEL PROGRESSION</h2>
    </div>
  </div>
  <div class="progression-bg-wrapper">
    <div class="container progression-container">
      <p class="progression-text">
        As you advance through over 1000 levels, the journey expands into
        beautifully designed new worlds. Goes from super chill at the start to
        these crazy complex boards, but it never feels like they're just
        throwing impossible stuff at you.<br />
        Each world introduces:
      </p>
      <div class="progression-content-wrapper">
        <ul class="progression-list progression-top-list">
          <li class="progression-list-item">
            <svg class="progression-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-star"></use>
            </svg>
            <p class="progression-item-text">Increased difficulty</p>
          </li>
          <li class="progression-list-item">
            <svg class="progression-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-star"></use>
            </svg>
            <p class="progression-item-text">New visual themes</p>
          </li>
        </ul>
        <picture>
          <source
            srcset="./img/progression/progression-img-desk.png"
            media="(min-width: 1440px)"
            width="160"
            height="167" />
          <source
            srcset="./img/progression/progression-img-mob.png"
            width="140"
            height="145" />
          <img
            class="progression-img"
            src="./img/progression/progression-img-mob.png"
            alt="Screenshot of the game"
            width="140"
            height="145"
            loading="lazy"
        /></picture>
        <ul class="progression-list progression-bottom-list">
          <li class="progression-list-item">
            <svg class="progression-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-star"></use>
            </svg>
            <p class="progression-item-text">Unique layouts</p>
          </li>
          <li class="progression-list-item">
            <svg class="progression-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-star"></use>
            </svg>
            <p class="progression-item-text">Fresh puzzle mechanics</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
