<section class="testimonials-section section" id="testimonials">
  <div class="section-title-wrapper benefits-title-wrapper">
    <div class="container section-title-container">
      <h2 class="section-title testimonials-title">TESTIMONIALS</h2>
    </div>
  </div>
  <div class="testimonials-bg-wrapper">
    <div class="container testimonials-container">
      <p class="section-subtitle testimonials-subtitle">
        What Players Are Saying
      </p>
      <div class="testimonials-swiper-container">
        <ul class="swiper-wrapper testimonials-swiper-wrapper">
          <li class="swiper-slide testimonials-slide">
            <img
              class="testimonials-img"
              src="./img/testimonials/testimonials-img1.png"
              alt="Screenshot of the game"
              width="48"
              height="48"
            />
            <p class="testimonials-name">Olivia Turner</p>
            <p class="testimonials-text">
              “Golden Field is one of the most enjoyable match 3 games I’ve
              played recently. The colors look amazing on my phone and when you
              nail a big combo... ugh, so satisfying. The boosters are powerful
              but still require strategy to use properly. Tough enough to keep
              me interested but doesn't make me want to throw my phone.”
            </p>
          </li>
          <li class="swiper-slide testimonials-slide">
            <img
              class="testimonials-img"
              src="./img/testimonials/testimonials-img2.png"
              alt="Screenshot of the game"
              width="48"
              height="48"
            />
            <p class="testimonials-name">Daniel Morgan</p>
            <p class="testimonials-text">
              “With over 1000 levels available, I never feel like I’m running
              out of content. New worlds give a real sense of progress and
              achievement. They mix up the gameplay enough that I don't get
              bored doing same thing over and over. Some levels really challenge
              my thinking. It’s a great balance between casual fun and a puzzle
              strategy.”
            </p>
          </li>
          <li class="swiper-slide testimonials-slide">
            <img
              class="testimonials-img"
              src="./img/testimonials/testimonials-img3.png"
              alt="Screenshot of the game"
              width="48"
              height="48"
            />
            <p class="testimonials-name">Sophia Bennett</p>
            <p class="testimonials-text">
              “The relaxing atmosphere of the game is what makes it stand out
              for me. I can unwind after work or any other time, and just enjoy
              solving colorful fruit puzzles. The animations are smooth and the
              sound design is calming. I also love that rewards come
              consistently as I progress. It feels motivating without being
              stressful.”
            </p>
          </li>
          <li class="swiper-slide testimonials-slide">
            <img
              class="testimonials-img"
              src="./img/testimonials/testimonials-img4.png"
              alt="Screenshot of the game"
              width="48"
              height="48"
            />
            <p class="testimonials-name">Ethan Reynolds</p>
            <p class="testimonials-text">
              “I’ve tried many match 3 games, but Golden Field feels polished
              and rewarding. Some of these levels are trickier than they look.
              Boosters help when needed, but they don’t remove the strategic
              element. I enjoy planning my moves ahead to create chain
              reactions. It’s so pleasantly addictive in a very satisfying way.”
            </p>
          </li>
          <li class="swiper-slide testimonials-slide">
            <img
              class="testimonials-img"
              src="./img/testimonials/testimonials-img5.png"
              alt="Screenshot of the game"
              width="48"
              height="48"
            />
            <p class="testimonials-name">Mia Carter</p>
            <p class="testimonials-text">
              “I really like how the progression works. Getting to new worlds
              and seeing different board setups keeps it interesting. The fruit
              themes are bright and cheerful without being too flashy. It’s
              perfect for short play sessions during breaks. I often find myself
              playing longer than I planned.”
            </p>
          </li>
          <li class="swiper-slide testimonials-slide">
            <img
              class="testimonials-img"
              src="./img/testimonials/testimonials-img6.png"
              alt="Screenshot of the game"
              width="48"
              height="48"
            />
            <p class="testimonials-name">Lucas Hayes</p>
            <p class="testimonials-text">
              “What I enjoy most is the balance between relaxation and
              challenge. Some of these levels really make you think - can't just
              mindlessly swipe. The rewards system feels fair and motivating. It
              just works well and doesn't feel clunky. It’s definitely one of my
              favorite puzzle games right now.”
            </p>
          </li>
        </ul>
      </div>
      <img
        class="testimonials-img-desk"
        src="./img/testimonials/testimonials-img-desk.png"
        alt="Screenshot of the game"
        width="326"
        height="267"
        loading="lazy"
      />
      <div class="controls testimonials-controls">
        <button
          class="arrow-btn"
          id="testimonialsLeftArrow"
          aria-label="Previous slide"
        >
          <svg class="arrow-icon" width="72" height="72">
            <use href="./img/sprite.svg#icon-arrow-left"></use>
          </svg>
        </button>

        <button
          class="arrow-btn"
          id="testimonialsRightArrow"
          aria-label="Next slide"
        >
          <svg class="arrow-icon" width="72" height="72">
            <use href="./img/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
